#g-auto-complete-address-results {
    position: absolute;
    background-color: white;
    z-index: 1;
    padding-right: 30px;
    width: 100%;
}

#g-auto-complete-address-results ol {
    list-style-type: none;
    padding-left: 2px;
}

#g-auto-complete-address-results li {
    padding: 4px 2px;
}

#g-auto-complete-address-results .highlight {
    background-color: yellow;
}