.logo-section {
	position: absolute;
    width: 350px;
    height: 340px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

form {
	background-color: white;
	padding: 22px 10px 6px 10px;
    border-radius: 8px;
}

.help-block {
	padding-left: 2px;
}

.logo {
	height: 80px;
}

.password-reset {
	background-color: white;
    padding: 22px 8px 8px 8px;
    border-radius: 8px;
}