.logo-section {
	position: absolute;
    width: 400px;
    height: 340px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
}

form {
	background-color: white;
	padding: 22px 10px 6px 10px;
    border-radius: 8px;
}

.help-block {
	padding-left: 2px;
}

.logo {
	height: 86px;
}